<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STREETWEAR STORE</title>
</head>
<body>
  <div style="display: flex; justify-content:center; align-items:center; flex-direction:column; font-family: sans-serif;">
    <H1>ADD A NEW PRODUCT TO THE STOCK 👖👟👕</H1>
    <form action="http://localhost:8080/api/productos" method="post" style="display:flex; flex-direction: column; width: 30%; gap: 0.5rem; font-weight: bold;">
      <label for="title">Product Name</label>
      <input type="text" name="title" placeholder="Jeans" required>
      <label for="price">Price</label>
      <input type="text" name="price" placeholder="3990" required>
      <label for="thumbnail">Thumbnail URL</label>
      <input type="text" name="thumbnail" placeholder="https://www.streetwear.com/jeans.jpg">
      <button type="submit" style="width: 100px; align-content:center;">Submit</button>
    </form>
  </div>

</body>
</html>